button,
.btn,
input[type="button"],
input[type="submit"] {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: var(--button-padding);
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--black-color);
    color: var(--white-color);
    cursor: pointer;
    transition: border-color 0.25s;

    &.primary {
        background-color: #414141;
    }

    &.link {
        color: var(--link-color);
        padding: 0;

        &:hover {
            background-color: transparent;
            text-decoration: underline;
        }
    }

    &:hover {
        background-color: #505050;
    }
}

.btn-group {
    gap: 5px;

    * {
        padding: 5px 15px;

        &.transparent {
            background-color: transparent;
        }
    }
}

.icon {
    background-color: transparent;
    padding: 0;
    margin: 0;
    overflow: hidden;
}